<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BlockMusic</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body class="title">
    <p >BlockMusic</p>
    <a href = "artist">
        <h2>I'm an artist</h2>
    </a>
    <a href = "listener">
        <h2>I'm a spectator</h2>
    </a>
  </body>
</html>
